.allTask-containers{
    width: 30%;
}

.task-container{
    width: 100%;
    width: 100%;
    background-color: #5a349d47;
    border: 2px solid #51377f;
    border-radius: 21px;
    margin: 12px;
    padding: 7px;
}

.task-title{
    font-size: 20px;
}

.task-container p{
    color: red;
}

.points-button{
    display: flex; 
    justify-content: space-evenly;
}